/* 树形菜单基础样式 */
ul#myUL, ul.nested {
    list-style-type: none; /* 移除默认列表样式 */
    margin: 0;
    padding: 0;
}

/* 默认隐藏嵌套列表 */
ul.nested {
    display: none;
}

/* 列表项样式 */
ul#myUL li, ul.nested li {
    margin-left: 1em; /* 控制缩进 */
}

/* 展开和折叠按钮样式 */
.caret {
    cursor: pointer;
    user-select: none; /* 防止选中文本 */
}

/* 折叠状态的箭头 */
.caret::before {
    content: "\25B6"; /* 右箭头 */
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* 展开状态的箭头 */
.caret-down::before {
    transform: rotate(90deg); /* 旋转箭头 */
}

/* 列表项图标样式 */
.bullet::before {
    content: "\2022"; /* 项目符号 */
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* 图书图标样式 */
.fas.fa-book {
    margin-left: 5px; /* 控制图标与文字间距 */
}

/* 可见的嵌套列表 */
ul.nested.active {
    display: block;
}
